[submodule "external/openvr"]
	path = external/openvr
	url = https://github.com/ValveSoftware/openvr.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/sukonbu"]
	path = external/sukonbu
	url = https://github.com/ousttrue/sukonbu.git
[submodule "external/gizmesh"]
	path = external/gizmesh
	url = https://github.com/ousttrue/gizmesh.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/plog"]
	path = external/plog
	url = https://github.com/SergiusTheBest/plog.git
[submodule "external/nlohmann-json"]
	path = external/nlohmann-json
	url = https://github.com/nlohmann/json.git
[submodule "external/MetricsGui"]
	path = external/MetricsGui
	url = https://github.com/GameTechDev/MetricsGui.git
