[submodule "external/openvr"]
	path = external/openvr
	url = https://github.com/ValveSoftware/openvr.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/sukonbu"]
	path = external/sukonbu
	url = git@github.com:ousttrue/sukonbu.git

[submodule "external/gizmesh"]
	path = external/gizmesh
	url = https://github.com/ousttrue/gizmesh.git
